This is a variable: {{name|upper}}
The Length is: {{workouts|length}}

{% if age==100 %}
    Your age = 100 years old
    {% elseif age ==0 %}
        no born yet!
        {%else%}
            not valid age
            {%endif%}
            <ul>
            {% for workout in workouts if workout.hours>1 %}
               
                <li>{{workout.activity}}</li>
                {%endfor%}
            </ul>
            
            <a href="{{path('workout-index')}}">a link</a>
        